<!doctype html>
<html>
<head>
	<title>Profile - <%=@user.username%></title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color:  #5dade2 ; //blue
			position: fixed;
			top: 10px;
			float: left;
			border: 2px solid #fefefe; //white
		}

		p {
			font-family:sans-serif;
			color: white;
			font-weight: bold;
		}

		li {
			float:left;
		}

		li a {
			text-shadow:
				3px 3px 0 #000,
				-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
			font-size: large;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover:not(.activePage) {
			background-color: #2980b9; //hover dark blue
		}

		.activePage {
			background-color: #000080;
		}
		.paddingForNavigation{
			padding-left: 10%;
			padding-top: 20px;

		 }

		.background {
			background: url("/weeb2.jpg") no-repeat center fixed;
			background-size: cover;
		 }

		.currentUser {
			text-shadow:
				3px 3px 0 #000,
				-1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
			border: 2px solid white;
			background-color:  #5dade2 ;
			width: 20%;
			text-align: center;
			float: right;
			margin-right: 15%;
		 }
    	.container {
	      	border: 2px solid white;
	      	background-color:  #5dade2 ;
	     	width: 70%;
			height: 60%;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
     }

	</style>
</head>
<body class="background">
	<div class = "paddingForNavigation">
		<div>
			 <ul>
				 <li><a href="/profile" >Campaign</a></li>
				 <li><a href="/replays"> Replays</a></li>
				 <li><a class = "activePage"> Hi-Scores </a></li>
				 <li><a> Coop</a></li>
				 <li><a href="/driveauth">Connect Drive</a></li>
				 <li><a href="/logout">Log Out</a></li>
			 </ul>
		</div>
		<div class="currentUser">
			 <p><%= @user.username %></p>
		</div>
		<div class="container">
			 <p> Highscores </p>
				 <div style="position: absolute; bottom: 5px; right: 5px">
					 <% for i in 1 .. @pages do %>
					   <a href="/highscores?page=<%=i%>"><%=i%> </a>
					<% end %>
				 </div>
				 <% for i in 1..@count do %>
				   <% if i <= 20 && (i + ((get_page-1)*20)) <= @count %>
					 	 <p> <%= i + ((get_page-1)*20) %>. <%= put_entry((i + ((get_page-1)*20))-1) %> </p>
					 <% end %>
	       <% end %>
		</div>
 	</div>
</body>
</html>
