<!doctype html>
<html>
<head>
	<title>Register</title>
	<style>
		h1 {
			width: 100%;
			text-align: center;
		}
		
		div.center {
			justify-content: center;
			text-align: center;
		}
		
		input {
			width: 200px;
			margin: 0 auto;
			margin-bottom: 10px;
			display: block;
		}
		
		div.error {
			color: red;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<h1>Not Touhou</h1>
	<div class="center">
		<form accept-charset="UTF-8" action="/register" method="post">
			<input name="username" type="text" placeholder="Username" value="<%= flash[:username] %>"/>
			<input name="password" type="password" placeholder="Password" value="<%= flash[:password] %>"/>
			<input name="password_confirm" type="password" placeholder="Confirm password" value="<%= flash[:password_confirm] %>"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			<input type="submit" value="Register"/>
		</form>
		<form action="./../">
			<input type="submit" value="Cancel"/>
		</form>
	</div>
	<div class="center error"><%= simple_format(flash[:error]) %></div>
</body>
</html>
